<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.themovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo"
        android:label="@string/movie_catalog"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheMovies"
        tools:ignore="AllowBackup">
        <activity
            android:name=".FavouritesActivity"
            android:exported="true"
            android:label="Favourites" />
        <activity
            android:name=".InfoActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".UpcomingActivity"
            android:exported="true"
            android:label="Upcoming Movies" />
        <activity
            android:name=".TopRatedActivity"
            android:exported="true"
            android:label="Top Rated Movies" />
        <activity
            android:name=".PopularActivity"
            android:exported="true"
            android:label="Popular Movies" />
        <activity
            android:name=".PhNoLogin"
            android:exported="true"
            android:label="Login with OTP" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile Information"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/movie_catalog">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Movies Catalog">
        </activity>
    </application>

</manifest>